@keyframes heart-filling {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes heart-outlines-fade {
  0%, 50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}
@keyframes heart-emptying {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes card-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  90% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #f6f6f6;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(50%);
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 26px;
}

.header {
  position: relative;
  background-color: #fff;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 1280px) {
  .header__logo {
    height: 96px;
  }
}
.header__logo img {
  display: block;
  height: 30px;
  padding: 17px;
  box-sizing: content-box;
}
.header__back-nav {
  font-size: 16px;
  z-index: 2;
  position: absolute;
  top: 22px;
}
@media only screen and (min-width: 1280px) {
  .header__back-nav {
    top: 38px;
  }
}
.header__back-nav a {
  padding: 23.5px 25px;
}
@media only screen and (min-width: 1280px) {
  .header__back-nav a {
    padding: 38.5px 41px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: #353535;
  padding: 22px 25px;
}
@media only screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 7.125rem;
    gap: 9px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    gap: 40px;
  }
}
.footer ul {
  display: contents;
}
.footerTitle {
  font-family: "Shrikhand", serif;
  font-size: 1.125rem;
  padding-bottom: 0.5625rem;
}
@media only screen and (min-width: 768px) {
  .footerTitle {
    order: 5;
    padding-bottom: 0;
    padding-left: 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .footerTitle {
    padding-left: 90px;
  }
}
.footer a {
  color: #fff;
  font-weight: 500;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .fa-solid {
  font-size: 0.8125rem;
  padding-right: 0.3125rem;
}
.footer li:nth-child(2) i {
  padding-right: 0.625rem;
}

.restaurants__grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.125rem;
}
@media only screen and (min-width: 768px) {
  .restaurants__grid-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 3.125rem;
  }
}
@media only screen and (min-width: 1280px) {
  .restaurants__grid-wrapper {
    column-gap: 6.25rem;
  }
}

.section-wrapper__functioning {
  background-color: #fff;
}

.restaurants-page {
  background-color: #fff;
}
.restaurants-page img {
  display: block;
  max-height: 390px;
  width: 100%;
  object-fit: cover;
}

.restaurants-menu {
  border: 40px 0;
  background-color: #f6f6f6;
  padding: 32px 13px 0px 18px;
  border-radius: 32px 32px 0 0;
  margin-top: -32px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .restaurants-menu {
    max-width: 1080px;
    margin-inline: auto;
  }
}
.restaurants-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .restaurants-menu__header {
    justify-content: center;
  }
}
.restaurants-menu__header h1 {
  font-family: "Shrikhand", serif;
  font-size: 1.75rem;
}
.restaurants-menu__dishes h2 {
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 0.5625rem;
}
.restaurants-menu__dishes hr {
  width: 2.5rem;
  border: solid #99e2d0;
  border-width: 3px 0 0 0;
  padding-bottom: 0.75rem;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  background-color: #eaeaea;
}
.location-SearchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.0625rem;
}
.location input {
  width: 6.8125rem;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 1rem;
  color: #353535;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.location input:focus {
  outline: none;
}
.location .fa-location-dot {
  color: #353535;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  padding: 45px 20px;
}
@media only screen and (min-width: 1280px) {
  .hero-banner {
    padding: 30px 0;
  }
}
.hero-banner h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.hero-banner p {
  font-size: 1.125rem;
  text-align: center;
}

.btn {
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  color: #fff;
  font-weight: 500;
  border-radius: 999px;
  padding: 0.96875rem 1.34625rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms ease-in-out;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 999px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  content: " ";
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
}

.order {
  margin-inline: auto;
  margin-bottom: 40px;
  width: 11.625rem;
  text-align: center;
}

.buttonFavorite {
  position: relative;
  font-size: 1.375rem;
  line-height: 1.375rem;
  line-height: 1.375rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
}
.buttonFavorite .likeButton::after {
  content: "\f004";
  font: var(--fa-font-solid);
  position: absolute;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  top: 0.5rem;
  left: 0.5rem;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttonFavorite input + .likeButton::after {
  animation: heart-emptying 300ms ease-in-out forwards;
}
.buttonFavorite input:checked + .likeButton .fa-heart {
  animation: heart-outlines-fade 700ms forwards;
}
.buttonFavorite input:checked + .likeButton::after {
  animation: heart-filling 700ms ease-in-out forwards;
}

.functioning {
  padding: 45px 20px;
}
@media only screen and (min-width: 768px) {
  .functioning {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .functioning {
    padding: 50px 0;
  }
}
.functioning__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  gap: 25px;
}
@media only screen and (min-width: 768px) {
  .functioning__cards {
    flex-direction: row;
    gap: 3.5%;
  }
}
.functioning__card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 35px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: calc(100% - 13px);
  height: 72px;
  counter-increment: listCounter;
  position: relative;
}
.functioning__card::before {
  content: counter(listCounter);
  display: inline-block;
  width: 1.5rem;
  position: absolute;
  left: -11px;
  border-radius: 50%;
  background-color: #9356dc;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
}
.functioning__card .fa-solid {
  color: #7e7e7e;
  font-size: 18px;
}
.functioning__card .fa-store {
  color: #9356dc;
}

.card {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 250ms ease-in-out;
  overflow: hidden;
  position: relative;
}
.card:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.card img {
  display: block;
  object-fit: cover;
  height: 174px;
  width: 100%;
}
.card a::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.new-restaurant {
  display: block;
  color: #008766;
  width: 5rem;
  height: 1.8125rem;
  background-color: #99e2d0;
  border-radius: 2px;
  position: absolute;
  right: 13px;
  top: 13px;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.8125rem;
}

.menu-cards {
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu-cards .card {
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 15px 0 15px 15px;
}
.menu-cards .card:hover .menu-cards--selected {
  margin-right: 0;
}
.menu-cards .card:hover .menu-cards--selected svg {
  transform: rotate(-360deg);
}
.menu-cards__content {
  flex: 1 1 auto;
  min-width: 0;
}
.menu-cards a {
  font-size: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  display: block;
  padding-bottom: 0.3125rem;
}
.menu-cards p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-cards span {
  font-weight: 500;
  padding-right: 15px;
  flex-shrink: 0;
}
.menu-cards--selected {
  width: 3.75rem;
  background-color: #99e2d0;
  align-self: stretch;
  flex-shrink: 0;
  margin: -15px -3.75rem -15px 0px;
  display: grid;
  place-content: center;
  transition: 250ms ease-out;
}
.menu-cards--selected svg {
  transform: rotate(-180deg);
  transition: 250ms ease-out;
}
.menu-cards .animate-in {
  animation: card-in 300ms ease-in-out both;
}
.menu-cards.entrances .animate-in:nth-child(2) {
  animation-delay: 100ms;
}
.menu-cards.entrances .animate-in:nth-child(3) {
  animation-delay: 200ms;
}
.menu-cards.entrances .animate-in:nth-child(4) {
  animation-delay: 300ms;
}
.menu-cards.entrances .animate-in:nth-child(5) {
  animation-delay: 400ms;
}
.menu-cards.main-dishes .animate-in:nth-child(1) {
  animation-delay: 300ms;
}
.menu-cards.main-dishes .animate-in:nth-child(2) {
  animation-delay: 400ms;
}
.menu-cards.main-dishes .animate-in:nth-child(3) {
  animation-delay: 500ms;
}
.menu-cards.main-dishes .animate-in:nth-child(4) {
  animation-delay: 600ms;
}
.menu-cards.deserts .animate-in:nth-child(1) {
  animation-delay: 600ms;
}
.menu-cards.deserts .animate-in:nth-child(2) {
  animation-delay: 700ms;
}
.menu-cards.deserts .animate-in:nth-child(3) {
  animation-delay: 800ms;
}
.menu-cards.deserts .animate-in:nth-child(4) {
  animation-delay: 900ms;
}

.restaurants {
  padding: 45px 20px;
}
@media only screen and (min-width: 768px) {
  .restaurants {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1280px) {
  .restaurants {
    padding: 30px 0;
  }
}
.restaurants__card {
  background-color: #fff;
  position: relative;
}
@media only screen and (min-width: 1280px) {
  .restaurants__card {
    height: 251px;
  }
}
.restaurants__card__content {
  padding: 7px 6px 15px 14px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  row-gap: 0.3125rem;
}
.restaurantsTitle {
  padding-top: 8px;
  font-size: 1.125rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurantsLocation {
  font-size: 1.0625rem;
  grid-row-start: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurantsLikeButton {
  grid-column-start: 2;
  grid-row: span 2;
}

.loader-wrapper {
  background-color: #fff;
  position: absolute;
  display: block;
  inset: 0;
  animation: hide-loader 5s forwards;
  height: 100vh;
  width: 100%;
  z-index: 100;
}

.loader {
  display: grid;
  place-content: center;
  height: 100vh;
  font-family: "Shrikhand", serif;
  font-size: 3rem;
  position: relative;
  visibility: visible;
}
.loader .loader-letters {
  display: flex;
  overflow: visible;
  width: 100%;
  border-radius: 99px;
  position: relative;
}
.loader .loader-letters::after {
  display: block;
  content: "";
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  width: 0%;
  height: 5px;
  position: absolute;
  bottom: 13px;
  z-index: -1;
  animation: 3s 1500ms lineGrow cubic-bezier(0.13, 0.58, 0.99, 0.63) forwards;
}
.loader .loader-letters div {
  transform: rotateY(90deg);
}
.loader .loader-letters div:nth-child(1) {
  animation: rotate-in 700ms 100ms ease-in-out forwards, color-change 5s 100ms ease-in infinite forwards;
}
.loader .loader-letters div:nth-child(2) {
  animation: rotate-in 700ms 200ms ease-in-out forwards, color-change 5s 200ms ease-in infinite forwards;
}
.loader .loader-letters div:nth-child(3) {
  animation: rotate-in 700ms 300ms ease-in-out forwards, color-change 5s 300ms ease-in infinite forwards;
}
.loader .loader-letters div:nth-child(4) {
  animation: rotate-in 700ms 400ms ease-in-out forwards, color-change 5s 400ms ease-in infinite forwards;
}
.loader .loader-letters div:nth-child(5) {
  animation: rotate-in 700ms 500ms ease-in-out forwards, color-change 5s 500ms ease-in infinite forwards;
}
.loader .loader-letters div:nth-child(6) {
  animation: rotate-in 700ms 600ms ease-in-out forwards, color-change 5s 600ms ease-in infinite forwards;
}
.loader .loader-letters div:nth-child(7) {
  animation: rotate-in 700ms 700ms ease-in-out forwards, color-change 5s 700ms ease-in infinite forwards;
}
.loader .loader-letters div:nth-child(8) {
  animation: rotate-in 700ms 800ms ease-in-out forwards, color-change 5s 800ms ease-in infinite forwards;
}

@keyframes rotate-in {
  100% {
    transform: rotateY(0);
  }
}
@keyframes box-border {
  0% {
    transform: scale(2);
    opacity: 0;
    filter: blur(5);
  }
  50% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes color-change {
  25%, 75% {
    color: #ff79da;
  }
  0%, 50%, 100% {
    color: #9356dc;
  }
}
@keyframes lineGrow {
  to {
    width: 100%;
  }
}
@keyframes hide-loader {
  95% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
