html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #f6f6f6;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 26px;
}

.header {
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header img {
  display: block;
  height: 30px;
  padding: 17px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: #353535;
  padding: 22px 25px;
}
.footer ul {
  display: contents;
}
.footerTitle {
  font-family: "Shrikhand", serif;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  padding-bottom: 0.5625rem;
}
.footer a {
  color: #fff;
  font-weight: 500;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .fa-solid {
  font-size: 0.8125rem;
  padding-right: 0.3125rem;
}
.footer li:nth-child(2) i {
  padding-right: 0.625rem;
}

.contentGridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.125rem;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.125rem;
  background-color: #eaeaea;
}
.location-SearchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.0625rem;
}
.location input {
  width: 6.8125rem;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 1rem;
  color: #353535;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.location input:focus {
  outline: none;
}
.location .fa-location-dot {
  color: #353535;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
  padding: 45px 20px;
}
.hero-banner h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.hero-banner p {
  font-size: 1.125rem;
  text-align: center;
}

.btn {
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  color: #fff;
  font-weight: 500;
  border-radius: 999px;
  padding: 0.96875rem 1.34625rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 999px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  content: " ";
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.buttonFavorite {
  position: relative;
  font-size: 1.375rem;
  line-height: 1.375rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 38px;
  height: 38px;
}
.buttonFavorite input {
  position: absolute;
  display: none;
}
.buttonFavorite input:checked + .likeButton .fa-heart {
  opacity: 0;
  animation: heart-outlines-fade 500ms;
}
.buttonFavorite input:checked + .likeButton::after {
  opacity: 1;
  animation: heart-filling 500ms ease-in-out;
}
.buttonFavorite input:not(:checked) + .likeButton::after {
  animation: heart-emptying 250ms ease-in-out;
}
.buttonFavorite .likeButton::after {
  content: "\f004";
  font: var(--fa-font-solid);
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 330ms ease-in-out;
}

@keyframes heart-filling {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes heart-outlines-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes heart-emptying {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
  }
}
.functioning {
  padding: 45px 20px;
  background-color: #fff;
}
.functioningCards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  gap: 25px;
}
.functioningCard {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 35px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: calc(100% - 13px);
  height: 72px;
  counter-increment: listCounter;
  position: relative;
}
.functioningCard::before {
  content: counter(listCounter);
  display: inline-block;
  width: 1.5rem;
  position: absolute;
  left: -11px;
  border-radius: 50%;
  background-color: #9356dc;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
}
.functioningCard .fa-solid {
  color: #7e7e7e;
  font-size: 18px;
}
.functioningCard .fa-store {
  color: #9356dc;
}

.card {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.card img {
  display: block;
  object-fit: cover;
  height: 174px;
  width: 100%;
}

.new-restaurant {
  display: block;
  color: #008766;
  width: 5rem;
  height: 1.8125rem;
  background-color: #99e2d0;
  border-radius: 2px;
  position: absolute;
  right: 13px;
  top: 13px;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.8125rem;
}

.restaurants {
  padding: 45px 20px;
}
.restaurantsCard {
  background-color: #fff;
  position: relative;
}
.restaurantsCard_content {
  padding: 7px 6px 15px 14px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  row-gap: 0.3125rem;
}
.restaurantsTitle {
  padding-top: 8px;
  font-size: 1.125rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurantsLocation {
  font-size: 1.0625rem;
  grid-row-start: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurantsLikeButton {
  grid-column-start: 2;
  grid-row: span 2;
}

/*# sourceMappingURL=style.css.map */
