@use "../abstracts" as *;

.btn {
  background: $button-gradient;
  color: $white;
  font-weight: $bold;
  border-radius: 999px;
  padding: toRem(15.5) toRem(21.54);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms ease-in-out;
  text-decoration: none;
  position: relative;
  z-index: 1;

  &:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    &::after {
      opacity: 1;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 999px;
    background: $button-gradientHover;
    content: " ";
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms ease-in-out;
  }
}

.order {
  margin-inline: auto;
  margin-bottom: 40px;
  width: toRem(186);
  text-align: center;
}

// Heart Button
.buttonFavorite {
  position: relative;
  font-size: toRem(22);
  line-height: toRem(22);
  padding: toRem(8);
  cursor: pointer;
  @include box-size(38px);
  z-index: 1;

  input {
    position: absolute;
    display: none;

    &:checked {
      + .likeButton .fa-heart {
        //interaction avec le coeur vide
        opacity: 0;
        animation: heart-outlines-fade 500ms;
      }
      + .likeButton::after {
        //interaction avec le coeur plein
        opacity: 1;
        animation: heart-filling 500ms ease-in-out;
      }
    }
    &:not(:checked) {
      + .likeButton::after {
        //interaction avec le coeur plein
        animation: heart-emptying 250ms ease-in-out;
      }
    }
  }

  .likeButton::after {
    content: "\f004";
    font: var(--fa-font-solid);
    opacity: 0;
    position: absolute;
    top: toRem(8);
    left: toRem(8);
    background: $button-gradient;
    background-clip: text;
    -webkit-font-smoothing: antialiased;
    -webkit-text-fill-color: transparent;
    transition: transform 330ms ease-in-out;
  }
}
