@use "../abstracts" as *;

.card {
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 250ms ease-in-out;
    overflow: hidden;
    position: relative;

    &:hover {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
    img {
        display: block;
        object-fit: cover;
        height: 174px;
        width: 100%;
    }
    a::after {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

.new-restaurant {
    display: block;
    color: $green-font;
    @include box-size(toRem(80), toRem(29));
    background-color: $green;
    border-radius: 2px;
    position: absolute;
    right: 13px;
    top: 13px;
    font-size: toRem(14);
    font-weight: $bold;
    text-align: center;
    line-height: toRem(29);
}

.menu-cards {
    font-size: toRem(15);
    display: flex;
    flex-direction: column;
    gap: 12px;

    .card {
        background-color: $secondary-bg;
        display: flex;
        align-items: flex-end;
        padding: 15px 0 15px 15px;

        &:hover .menu-cards--selected {
            margin-right: 0;

            svg {
                transform: rotate(-360deg);
            }
        }
    }

    &__content {
        flex: 1 1 auto;
        min-width: 0;
    }
    a {
        font-size: toRem(18);
        @include text-shorten;
        font-weight: $bold;
        display: block;
        padding-bottom: toRem(5);
    }

    //plate description
    p {
        @include text-shorten;
    }

    //price
    span {
        font-weight: $bold;
        padding-right: 15px;
        flex-shrink: 0;
    }

    &--selected {
        width: toRem(60);
        background-color: $green;
        align-self: stretch;
        flex-shrink: 0;
        margin: -15px toRem(-60) -15px 0px;
        display: grid;
        place-content: center;
        transition: 250ms ease-out;

        svg {
            transform: rotate(-180deg);
            transition: 250ms ease-out;
        }
    }

    .animate-in {
        animation: card-in 300ms ease-in-out both;
    }
    &.entrances .animate-in {
        @include cascade-delay-group(4, 1, 100ms);
    }

    &.main-dishes .animate-in {
        @include cascade-delay-group(3, 4, 100ms);
    }

    &.deserts .animate-in {
        @include cascade-delay-group(3, 7, 100ms);
    }
}
