@use "../abstracts" as *;

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: toRem(17);
  height: toRem(50);
  background-color: $grey2;
  span {
    font-weight: 500;
  }
}
