@use "../abstracts" as *;

.restaurants {
    padding: $element-top-bot-padding $element-side-padding;

    @include breakpoint(tablet) {
        max-width: $desktop-element-maxwith;
        @include margin-center;
    }
    @include breakpoint(desktop) {
        padding: 30px 0;
    }

    &__card {
        background-color: $white;
        position: relative;

        @include breakpoint(desktop) {
            height: 251px;
        }

        &__content {
            padding: 7px 6px 15px 14px;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
            row-gap: toRem(5);
        }
    }
    &Title {
        padding-top: 8px;
        font-size: toRem(18);
        font-weight: $x-bold;
        @include text-shorten;
    }
    &Location {
        font-size: toRem(17);
        grid-row-start: 2;
        @include text-shorten;
    }
    &LikeButton {
        grid-column-start: 2;
        grid-row: span 2;
    }
}
