@use "../abstracts" as *;

.footer {
    ul {
        display: contents;
    }
    display: flex;
    flex-direction: column;
    gap: 7px;

    background-color: $grey;
    padding: 25px 22px;

    &Title {
        font-family: $title-font;
        font-size: toRem(18);
        line-height: toRem(27);
        margin-bottom: toRem(9);
    }
    a {
        color: $alt-text-color;
        font-weight: $bold;
    }
    .fa-solid {
        font-size: toRem(13);
        padding-right: toRem(5);
    }
    li:nth-child(2) i {
        padding-right: toRem(10);
    }
}
