@use "../abstracts" as *;

.footer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: $grey;
    padding: 22px 25px;

    @include breakpoint(tablet) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        height: toRem(114);
        // line-height: toRem(18);
    }

    ul {
        display: contents;
    }
    &Title {
        font-family: $title-font;
        font-size: toRem(18);
        padding-bottom: toRem(9);

        @include breakpoint(tablet) {
            order: 5;
            padding-bottom: 0;
            padding-left: 50px;
        }

        @include breakpoint(desktop) {
            padding-left: 90px;
        }
    }
    a {
        color: $alt-text-color;
        font-weight: $bold;
        &:hover {
            text-decoration: underline;
        }
    }
    .fa-solid {
        font-size: toRem(13);
        padding-right: toRem(5);
    }
    li:nth-child(2) i {
        padding-right: toRem(10);
    }
}
