//Favorite button
@keyframes heart-filling {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes heart-outlines-fade {
  0%,
  50% {
    opacity: 1;
  }
  70%,
  100% {
    opacity: 0;
  }
}

@keyframes heart-emptying {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
  }
}

//Card in animation
@keyframes card-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  90% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
