//Center with margins
@mixin margin-center {
  margin: {
    left: auto;
    right: auto;
  }
}

//flex => center vertically
@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

//flex
@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

//flex center vertically and horizontaly
@mixin flex-center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}

//column flex both centered
@mixin flex-column-center-both {
  @include flex-center-both;
  flex-direction: column;
}

//box size
@mixin box-size($width, $height: $width) {
  width: $width;
  height: $height;
}

//text truncate
@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//mediaqueries
@mixin breakpoint($point) {
  @if $point == desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
}

//animation delay
//$nb : number of child to repeat the delay on
//$delay : delay to add to each loop
@mixin cascade-delay($nb, $delay) {
  @for $i from 1 through ($nb) {
    &:nth-child(#{$i}) {
      animation-delay: (#{$i * $delay});
    }
  }
}

@mixin cascade-delay-group($nb, $start, $delay) {
  @for $i from $start through ($start + $nb) {
    @if $i != 1 {
      &:nth-child(#{$i - $start + 1}) {
        animation-delay: (#{($i) * $delay - $delay});
      }
    }
  }
}

// @mixin cascade-delay-group($duration) {
//   //12 because we got maximum 12 elements to animate on the page
//   @for $i from 1 through 12 {
//     &:nth-of-type(#{$i}) {
//       animation-delay: (#{($i - 1) * $duration});
//     }
//   }
// }
