// Variables

//Colors
$gloomy-purple: #9356dc;
$green-font: #008766;
$blue: #89c8fa;
$blue2: #003a68;
$pout-pink: #ff79da;
$green: #99e2d0;
$grey: #353535;
$grey2: #eaeaea;
$white: #fff;
$black: #000;
$cascading-white: #f6f6f6;
$medium-grey: #7E7E7E;

$button-gradient: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
$button-gradientHover: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);

// Colors applications
$primary: $gloomy-purple !default;
$secondary: $pout-pink !default;
$tertiary: $green !default;
$primary-text-color: $black !default;
$secondary-text-color: $grey !default;
$alt-text-color: $white !default;
$primary-bg: $cascading-white !default;
$secondary-bg: $white !default;

//Fonts
$text-font: "Roboto", sans-serif;
$title-font: "Shrikhand", serif;
